body{
background-color: #FFF2D7;
display: flex;
overflow:hidden;

}

.svg1 {
    width: 1680px;
    height: 900px;
    position: absolute;
    margin-top: 20px;
    margin-left: -8px;
}


.svg2 {
    width: 1680px;
    height: 900px;
    position: absolute;
    margin-top: 10px;
}


svg {
    animation: zoomin 1s ;
}
@keyframes zoomin {
  0%   {transform: scale(1.2);}
  100% {transform: scale(1);}


}
