body {
  display: flex;
  justify-content: center;
  overflow:hidden;
}

main > svg{
  top:-0.05vw;
  left:0;
  right:0;
  position: fixed;
}



svg {
    transform-origin: 1300px 200px;
    animation: zoomin 2s ;
}
@keyframes zoomin {
  0%   {transform: scale(1);}
  100% {transform: scale(2.5);}
}