body {
  display: flex;
  justify-content: center;
  overflow:hidden;
}

main > svg{
  top:-0.05vw;
  left:0;
  right:0;
  position: fixed;
}

.titel{
    position: absolute;
    width: 50%;
    height: 50%;
    margin-left: -250px;;
    margin-top: 33px;

}

/*
.inzoom {
    animation: zoomin 2s infinite alternate; 
}

 @keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
       
}
*/

/*
#kastopen > svg {
    z-index: 1000;
}
*/

.openen{

  position: absolute;
  z-index: 20;
  cursor: pointer;
  font-family: montserrat;
  text-decoration: none;
  top: 450px;
  left:1102px;
  background-color:#dcdfff;
  padding: 6px 6px;
  border: solid 3px white;
  font-size: 1.6em; 

}
.openen:hover{

animation: draai 0.1s 5;   
}
  
@keyframes draai{
    
    0%{
        transform: rotate(-7deg);
    }
    
     50%{
        transform: rotate(7deg);
    }
    
    
     100%{
        transform: rotate(0deg);
    }    
}

a {
    text-decoration: none; 
    color: white;
    
}

a:hover{
    color: #bec3e5;

}