main {
  display: flex;
  justify-content: center;
  overflow:hidden;
}

main > svg{
  top:-0.05vw;
  left:0;
  right:0;
  position: fixed;
}



svg {
    animation: zoomin 2s;
}
@keyframes zoomin {
  0%   {transform: scale(.8);}
  100% {transform: scale(1.5);}
}